In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
from pylab import plt
% pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#Class to find census tract from the given input
from ClassGeo import LatlonPointer

In [585]:
m=pd.read_csv("Final/Final_Street.csv")

In [3]:
# Census file used.
census = pd.read_csv('Final/censusold.csv')

In [5]:
# Correcting shapefile formats
sn=  gpd.GeoSeries(census['geometry'])
sn.crs = {'init': 'epsg:2263', 'no_defs': True}
sn=sn.to_crs(epsg=4326)
census['geometry']= sn

In [13]:
#function returns census tract, when df with latitude and longitude information is given as input.
def ctlocate(x):
    k=LatlonPointer()
    k.lat,k.lon= x.latitude,x.longitude
    k.shapefile = census
    return k.finder("BoroCT2010")

In [15]:
ct=m.apply(ctlocate,1)

In [ ]:
#BoroCT2010 has all the census tracts
m["BoroCT2010"]=ct

In [1]:
m.to_csv("Final/master3.csv")

In [4]:
f1=pd.read_csv("Final/master3.csv")

/Users/nikhilkishore/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (6,15,18,21,23,28,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
f1=f1.drop(['Unnamed: 0'],1)

In [6]:
f1[pd.isnull(f1.BoroCT2010)]

Empty DataFrame
Columns: [BoroCT2010, address_type, agency, agency_name, borough, bridge_highway_direction, city, closed_date, community_board, complaint_type, created_date, cross_street_1, cross_street_2, descriptor, due_date, facility_type, incident_address, incident_zip, intersection_street_1, intersection_street_2, landmark, latitude, location_type, longitude, park_borough, park_facility_name, resolution_action_updated_date, resolution_description, school_address, school_city, school_code, school_name, school_not_found, school_number, school_phone_number, school_region, school_state, school_zip, status, street_name, unique_key, derived_boroughs, located, BoroCT2010_1]
Index: []

[0 rows x 44 columns]

In [7]:
f1.shape

(679847, 44)

In [8]:
len(set(f1.unique_key))

679847

In [10]:
f2.shape

(679847, 44)

In [11]:
import datetime

In [12]:
f1['created_date']=pd.to_datetime(f1['created_date'])

In [13]:
year=f1['created_date'].apply(lambda x:x.year)

In [14]:
f1['year']=year

In [19]:
f1.columns=[u'BoroCT2010_1', u'address_type', u'agency', u'agency_name', u'borough',
       u'bridge_highway_direction', u'city', u'closed_date',
       u'community_board', u'complaint_type', u'created_date',
       u'cross_street_1', u'cross_street_2', u'descriptor', u'due_date',
       u'facility_type', u'incident_address', u'incident_zip',
       u'intersection_street_1', u'intersection_street_2', u'landmark',
       u'latitude', u'location_type', u'longitude', u'park_borough',
       u'park_facility_name', u'resolution_action_updated_date',
       u'resolution_description', u'school_address', u'school_city',
       u'school_code', u'school_name', u'school_not_found', u'school_number',
       u'school_phone_number', u'school_region', u'school_state',
       u'school_zip', u'status', u'street_name', u'unique_key',
       u'derived_boroughs', u'located', u'BoroCT2010', u'year']

In [20]:
##Selecting year  and census tracts to find aggregate complaints based on census tracts
f2=f1[['BoroCT2010','unique_key','year']]

In [21]:
f3=f2.groupby('BoroCT2010')['year'].value_counts()

In [22]:
f3=f3.reset_index()

In [23]:
#This would give year and borough as columns 
#f2.groupby('year')['BoroCT2010'].value_counts()
f3=f3.set_index(['BoroCT2010','year']).unstack('year')

In [24]:
f3.columns=f3.columns.droplevel()

In [25]:
f3=(f3.reset_index())

In [26]:
f3

year,BoroCT2010,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,36005000100,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,36005000200,41,34,45,45,63,47,2,8,2,8,29,40
2,36005000400,31,37,24,30,38,25,1,2,6,12,18,44
3,36005001600,20,18,31,21,42,48,1,2,2,5,34,31
4,36005001900,110,97,157,195,148,142,9,6,17,49,96,172
5,36005002000,19,13,19,28,34,42,NaN,NaN,1,7,21,44
6,36005002300,18,11,13,19,13,9,NaN,NaN,3,NaN,2,7
7,36005002400,NaN,2,2,4,3,7,NaN,NaN,1,1,4,9
8,36005002500,14,9,12,6,11,3,NaN,NaN,3,5,3,9
9,36005002701,8,5,7,19,10,11,NaN,NaN,NaN,NaN,6,5
10,36005002702,16,11,17,19,15,10,NaN,NaN,NaN,2,5,13
11,36005002800,13,10,22,42,17,14,NaN,NaN,NaN,9,39,31
12,36005003100,18,15,9,12,9,10,NaN,1,NaN,NaN,4,21
13,36005003300,8,21,7,10,5,23,NaN,NaN,1,7,11,12
14,36005003500,12,7,14,11,10,13,NaN,NaN,3,3,5,8
15,36005003700,4,1,3,5,4,2,NaN,1,NaN,NaN,4,4
16,36005003800,4,3,2,2,3,2,NaN,NaN,NaN,NaN,2,12
17,36005003900,26,18,12,18,10,17,NaN,NaN,4,17,28,16
18,36005004001,10,1,3,8,15,8,NaN,NaN,NaN,15,6,13
19,36005004100,14,18,12,7,13,14,NaN,NaN,1,4,9,13
20,36005004200,29,19,44,59,57,45,3,5,14,25,28,73
21,36005004300,23,33,11,21,16,24,NaN,NaN,NaN,10,14,25
22,36005004400,10,12,12,22,25,19,8,3,4,17,35,36
23,36005004600,14,6,5,9,8,17,4,1,2,13,15,12
24,36005004800,11,18,13,19,15,16,6,3,3,3,22,21
25,36005005001,20,20,16,27,23,17,15,11,8,24,30,16
26,36005005002,9,10,14,17,9,6,NaN,NaN,NaN,2,15,24
27,36005005100,54,56,35,40,54,46,1,1,8,13,20,48
28,36005005200,5,19,16,9,5,8,NaN,NaN,NaN,12,5,19
29,36005005300,3,2,3,3,5,6,NaN,NaN,NaN,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2129,36085020700,140,112,151,132,153,105,6,4,20,32,83,93
2130,36085020801,236,224,249,302,377,321,6,1,51,98,176,158
2131,36085020803,95,123,92,92,104,103,4,2,18,33,72,107
2132,36085020804,96,86,91,89,89,90,1,1,16,48,55,94
2133,36085021300,56,51,88,70,84,112,6,NaN,6,46,54,48
2134,36085022300,54,37,31,44,43,34,2,1,4,21,46,60
2135,36085022600,217,189,229,237,316,258,24,10,48,87,138,260
2136,36085022800,144,147,118,93,172,188,19,12,31,69,88,64
2137,36085023100,65,40,66,35,53,72,5,1,9,37,27,33
2138,36085023900,67,70,75,69,122,82,NaN,NaN,3,21,48,46
2139,36085024401,94,98,127,116,166,135,11,4,23,50,103,110
2140,36085024402,72,48,53,61,58,69,2,2,14,38,65,37
2141,36085024700,29,32,74,44,69,101,8,1,4,24,32,12
2142,36085024800,62,84,111,117,141,141,7,2,31,48,83,175
2143,36085025100,136,108,123,116,139,99,7,3,17,54,109,143
2144,36085027301,62,43,84,49,93,63,NaN,NaN,6,13,37,57
2145,36085027302,82,70,111,68,100,97,1,2,6,28,57,66
2146,36085027702,59,64,86,87,151,137,20,14,35,107,115,128
2147,36085027704,109,96,121,159,106,44,2,NaN,6,27,48,53
2148,36085027705,54,89,84,67,74,27,NaN,NaN,3,26,28,34
2149,36085027706,30,42,54,69,78,46,NaN,NaN,NaN,22,17,25
2150,36085027900,175,134,175,242,221,181,10,2,27,63,89,178
2151,36085029102,104,164,148,144,176,195,6,8,31,57,100,151
2152,36085029103,145,111,138,156,167,159,7,3,26,83,122,97
2153,36085029104,159,104,143,130,170,169,16,7,24,38,79,65
2154,36085030301,87,55,74,96,61,53,4,NaN,2,38,42,50
2155,36085030302,70,62,63,51,108,70,2,NaN,8,20,21,26
2156,36085031901,15,28,19,18,25,29,NaN,NaN,8,5,21,24
2157,36085031902,37,48,36,42,86,44,NaN,NaN,3,5,35,39
2158,36085032300,44,58,25,59,81,46,4,4,7,10,40,33

In [27]:
#We are taking other information from census shapefile 
c=census[['BoroCT2010','BoroName','NTAName','PUMA','geometry','GeoID']]

In [31]:
#Delete me
#c.columns=[u'GeoID', u'BoroName', u'NTAName', u'PUMA', u'geometry', u'BoroCT2010']

In [216]:
geo=f3.merge(c,on='BoroCT2010',how='left')

In [217]:
geo.shape

(2159, 18)

In [218]:
##ttl variable has total complaints for all years, grouped by boroughs
ttl=f1.groupby('BoroCT2010').count()['unique_key'].reset_index()

In [219]:
ttl.columns=[u'BoroCT2010', u'Total']

In [220]:
geo1=geo.merge(ttl,on='BoroCT2010',how='inner')

In [ ]:
geo1.head()#[pd.isnull(geo1.BoroCT2010)]

In [222]:
## ACS 2014 income based on censustract for New York State
g=pd.read_csv("/Users/nikhilkishore/Google Drive/Argo/StreetCondition/ACS_14_5YR_DP03/ACS_14_5YR_B19301/ACS_14_5YR_B19301_with_ann.csv")

In [223]:
g.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01',
       u'HD02_VD01'],
      dtype='object')

In [224]:
g=g.drop(0,0)

In [225]:
## Finterig newyork state data for nyc
q=g[g['GEO.display-label'].apply(lambda x:x.split(',')[1])==' Queens County']
m= g[g['GEO.display-label'].apply(lambda x:x.split(',')[1])==' New York County']
bx= g[g['GEO.display-label'].apply(lambda x:x.split(',')[1])==' Bronx County']
b=g[g['GEO.display-label'].apply(lambda x:x.split(',')[1])==' Kings County']
sl=g[g['GEO.display-label'].apply(lambda x:x.split(',')[1])==' Richmond County']

In [226]:
#Income is per capita income data for new york city
nyc=[q,m,bx,b,sl]
income=pd.concat(nyc)

In [227]:
#Adjusting column named for merge with complaint data set
income.columns=[u'GEO.id', u'BoroCT2010', u'GEO.display-label', u'Income',
       u'Income_Error']

In [228]:
income.head(2)

,GEO.id,BoroCT2010,GEO.display-label,Income,Income_Error
3130,1400000US36081000100,36081000100,"Census Tract 1, Queens County, New York",82481,8325
3131,1400000US36081000200,36081000200,"Census Tract 2, Queens County, New York",22738,2587

In [229]:
income.BoroCT2010=income.BoroCT2010.astype(int)

In [232]:
new1=income.merge(geo1,on='BoroCT2010',how='right')#.shape

In [233]:
new1.shape

(2159, 23)

In [234]:
## 2014 ACS estimate number of vehicles
cars=pd.read_csv("/Users/nikhilkishore/Google Drive/Argo/StreetCondition/ACS_14_5YR_DP03/ACS_14_5YR_B25046/ACS_14_5YR_B25046.csv")

In [235]:
cars.columns=[u'GEO.id', u'BoroCT2010', u'GEO.display-label', u'AggregateVehicle', u'AggError',
       u'ownoccupied', u'ownerrer', u'renterocc', u'renterer']

In [236]:
cars=cars.drop(0,0)

In [238]:
cars.head(10)

,GEO.id,BoroCT2010,GEO.display-label,AggregateVehicle,AggError,ownoccupied,ownerrer,renterocc,renterer
1,1400000US36005000100,36005000100,"Census Tract 1, Bronx County, New York",NaN,NaN,NaN,NaN,NaN,NaN
2,1400000US36005000200,36005000200,"Census Tract 2, Bronx County, New York",1709,198,1160,206,549,163
3,1400000US36005000400,36005000400,"Census Tract 4, Bronx County, New York",1872,270,1599,244,273,111
4,1400000US36005001600,36005001600,"Census Tract 16, Bronx County, New York",1294,277,560,271,734,168
5,1400000US36005001900,36005001900,"Census Tract 19, Bronx County, New York",354,84,37,24,317,83
6,1400000US36005002000,36005002000,"Census Tract 20, Bronx County, New York",1294,332,602,206,692,261
7,1400000US36005002400,36005002400,"Census Tract 24, Bronx County, New York",NaN,NaN,NaN,NaN,NaN,NaN
8,1400000US36005002500,36005002500,"Census Tract 25, Bronx County, New York",556,135,32,44,524,136
9,1400000US36005002701,36005002701,"Census Tract 27.01, Bronx County, New York",297,119,NaN,NaN,297,119
10,1400000US36005002800,36005002800,"Census Tract 28, Bronx County, New York",1800,320,256,112,1544,321

In [239]:
cars.BoroCT2010= cars.BoroCT2010.astype(int)

In [240]:
new2=new1.merge(cars,on='BoroCT2010',how='left')

In [241]:
#Final Dataset with income, car and street complaint information.
new2.head(2)
#new2[['GEO.display-label_x','GEO.display-label_y']]

,GEO.id_x,BoroCT2010,GEO.display-label_x,Income,Income_Error,2005,2006,2007,2008,2009,...,geometry,Total,GEO.id_y,GEO.display-label_y,AggregateVehicle,AggError,ownoccupied,ownerrer,renterocc,renterer
0,1400000US36081000100,36081000100,"Census Tract 1, Queens County, New York",82481,8325,79,56,78,48,65,...,POLYGON ((-73.94911295133423 40.75452361982124...,623,1400000US36081000100,"Census Tract 1, Queens County, New York",1525,236,401,132,1124,196
1,1400000US36081000200,36081000200,"Census Tract 2, Queens County, New York",22738,2587,3,14,14,10,23,...,"POLYGON ((-73.8633121516451 40.69196169451116,...",114,1400000US36081000200,"Census Tract 2, Queens County, New York",929,159,547,114,382,142

In [242]:
new1.shape

(2159, 23)

In [243]:
new2=new2.drop(['GEO.display-label_y','GEO.id_y'],1)

In [244]:
new2.columns=[u'GEO.id', u'BoroCT2010', u'GEO.display-label',
                    u'Income',        u'Income_Error',                   2005,
                         2006,                   2007,                   2008,
                         2009,                   2010,                   2011,
                         2012,                   2013,                   2014,
                         2015,                   2016,               u'GeoID',
                  u'BoroName',             u'NTAName',                u'PUMA',
                  u'geometry',               u'Total',    u'AggregateVehicle',
                  u'AggError',         u'ownoccupied',            u'ownerrer',
                 u'renterocc',            u'renterer']

In [245]:
new2.columns

Index([           u'GEO.id',        u'BoroCT2010', u'GEO.display-label',
                  u'Income',      u'Income_Error',                 2005,
                       2006,                 2007,                 2008,
                       2009,                 2010,                 2011,
                       2012,                 2013,                 2014,
                       2015,                 2016,             u'GeoID',
                u'BoroName',           u'NTAName',              u'PUMA',
                u'geometry',             u'Total',  u'AggregateVehicle',
                u'AggError',       u'ownoccupied',          u'ownerrer',
               u'renterocc',          u'renterer'],
      dtype='object')

In [246]:
new2['AggregateVehicle']=new2['AggregateVehicle'].astype(float)

In [247]:
from scipy.stats import rankdata

In [248]:
#converting income to int
def conint(x):
    try:
        return int(x)
    except ValueError:
        pass
new2['Income']=new2['Income'].apply(conint)#.astype(float)

In [249]:
#Filling na with 0
new3=new2.fillna(0)

In [250]:
##Rankinh vehicles,income,and total complaints.
new3['rveh']=rankdata(new3['AggregateVehicle'])
new3['rincome'] =rankdata(new3['Income'].astype(float))
for i in range(2005,2017):
    new3['rstreet'+str(i)]=rankdata(new3[i].astype(float))
new3['rstreet']=rankdata(new3['Total'].astype(float))

In [251]:
## Final File has geometry of census tract, street complaints year wise and total, Income per capita for 2014 and
##total car estimate for 2014 
new3.to_csv("proto3.csv")

##Next file is coverted to geojson using qGIS and used as an input to web visualization